<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>{{ title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">

		<link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
		
		<link rel="stylesheet" type="text/css" href="styles/main.css">
			
		{% block style %}
		{% endblock style %}

		<link rel="stylesheet" type="text/css" href="styles/responsive.css">
	</head>

	<body>
		<div id="{{ pageId }}">
			{% block content %}
			{% endblock content %}
		</div>

		{% block modal %}
			
		{% endblock modal %}

		<footer>

			{% block script %}
			{% endblock script %}
		</footer>
	</body>
</html>