@media (max-width: 900px){
	#page-home{
		background-position-x: 70vw;
	}

	#page-home .content{
		align-items: center;
		text-align: center;
	}

	#page-home header a{
		position: absolute;
		bottom: 20px;

		left: 50%;
		transform: translateX(-50%);
	}

	#page-home main{
		align-items: center;
	}

	#page-create-point{
		width: 90%;
	}

	#page-create-point form{
		padding: 40px 20px;
	}

	#page-create-point form h1, #page-create-point form legend h2{
		text-align: center;
		margin: 0 auto;
	}

	#page-create-point .items-legend{
		text-align: center;
	}

	#page-search-results .cards{
		grid-template-columns: 1fr;
	}

}

@media (max-width: 480px){
	form .field-group{
		display: block;
	}

	form .field-group .field:nth-child(2){
		margin-left: 0;
	}

	.items-grid{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 15px;
	}
}

@media (max-height: 520px){
	#page-home header{
		margin-top: 10px;
	}	
}


@media (min-width: 1700px){
	#page-home{
		background-position-x: 50vw;
		background-position-y: 100px;
	}
}